html{
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #1f1f1f;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.head-paragraph2 {
    color: #c4f82a;
    font-weight: bolder;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2em;
}
nav a{
    width: 90%;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #333333;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
nav a:hover {
    color: #1f1f1f;
    background-color: #c4f82a;
}